<header>
  <nav class='navbar navbar-expand-lg navbar-dark bg-dark'>
    <div class='container'>
      <a class='navbar-brand' href='/'>
        Blog Website
      </a>
      <button
        class='navbar-toggler'
        type='button'
        data-bs-toggle='collapse'
        data-bs-target='#navbarNav'
        aria-controls='navbarNav'
        aria-expanded='false'
        aria-label='Toggle navigation'
      >
        <span class='navbar-toggler-icon'></span>
      </button>
      <div class='collapse navbar-collapse' id='navbarNav'>
        <ul class='navbar-nav ms-auto'>
          <li class='nav-item'>
            <a class='nav-link' href='/'>Home</a>
          </li>
          <li class='nav-item'>
            <a class='nav-link' href='/users'>
              Users
            </a>
          </li>
          <li class='nav-item'>
            <a class='nav-link' href='/blogs'>
              Blog
            </a>
          </li>
            <li class='nav-item dropdown' style="display:none" id="logged_in">
              <a
                class='nav-link dropdown-toggle'
                href='#'
                id='navbarDropdown'
                role='button'
                data-bs-toggle='dropdown'
                aria-expanded='false'
              >
                {{user.name}}
              </a>
              <ul class='dropdown-menu' aria-labelledby='navbarDropdown'>
                <li>
                  <a
                    class='dropdown-item'
                    type='button'
                    onclick='logout()'
                  >Logout</a>
                </li>
              </ul>
            </li>
            <li class='nav-item' style="display:none"  id="logout_show">
              <a
                class='nav-link'
                href='#'
                data-bs-toggle='modal'
                data-bs-target='#loginModal'
              >
                Login
              </a>
            </li>
        </ul>
      </div>
    </div>
  </nav>
</header>