{{#> main}}
{{#*inline "content"}}
<h1>Blogs</h1>
<div class="d-flex justify-content-end mb-3">
  <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createBlogModal">Create Blog</button>
</div>
<div class="table-responsive">
  <table class="table table-hover" id="blog_table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
        <th scope="col">Created At </th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="5" class="text-center">
          Loading...
        </td>
      </tr>
  </table>
</div>
<!-- Modal -->
<div class="modal fade" id="viewBlogModal" tabindex="-1" aria-labelledby="viewBlogModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="viewBlogModalLabel">View Blog</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h3 id="blogTitle"></h3>
        <p id="blogContent"></p>
        <small id="blogCreatedAt"></small>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Edit Modal -->
<div class="modal fade" id="editBlogModal" tabindex="-1" aria-labelledby="editBlogModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editBlogModalLabel">Edit Blog</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="editBlogForm">
          <div class="mb-3">
            <label for="editBlogTitle" class="form-label">Title</label>
            <input type="text" class="form-control" id="editBlogTitle" required>
          </div>
          <div class="mb-3">
            <label for="editBlogContent" class="form-label">Content</label>
            <textarea class="form-control" id="editBlogContent" rows="5" required></textarea>
          </div>
          <input type="hidden" id="editBlogId">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="saveBlogChanges">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Create Modal -->
<div class="modal fade" id="createBlogModal" tabindex="-1" aria-labelledby="createBlogModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createBlogModalLabel">Create Blog</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="createBlogForm">
          <div class="mb-3">
            <label for="createBlogTitle" class="form-label">Title</label>
            <input type="text" class="form-control" id="createBlogTitle" required>
          </div>
          <div class="mb-3">
            <label for="createBlogContent" class="form-label">Content</label>
            <textarea class="form-control" id="createBlogContent" rows="5" required></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="createBlog">Create</button>
      </div>
    </div>
  </div>
</div>

<script>
  $('#createBlog').click(function () {
    var blogTitle = $('#createBlogTitle').val();
    var blogContent = $('#createBlogContent').val();
    var token = sessionStorage.getItem('token');
    $.ajax({
      url: '/api/blog',
      type: 'POST',
      headers: {
        'Authorization': 'Bearer ' + token,
        'Content-Type': 'application/json'
      },
      data: JSON.stringify({
        title: blogTitle,
        content: blogContent
      })
    }).done(function (data) {
      $('#createBlogModal').modal('hide');
      alert('Blog created successfully');
      location.reload();
    }).fail(function (xhr, status, error) {
      console.log(xhr);
      console.log(status);
      console.log(error);
      message = xhr.responseJSON.message;
      if (typeof message === 'object') {
        message = message.join('\n');
      } else {
        message = message;
      }
      alert(message);

    });
  });
</script>
<script>
  function editBlog(blog) {
    $('#editBlogId').val(blog._id);
    $('#editBlogTitle').val(blog.title);
    $('#editBlogContent').val(blog.content);
    $('#editBlogModal').modal('show');
  }

  $('#saveBlogChanges').click(function () {
    var blogId = $('#editBlogId').val();
    var blogTitle = $('#editBlogTitle').val();
    var blogContent = $('#editBlogContent').val();
    var token = sessionStorage.getItem('token');

    $.ajax({
      url: '/api/blog/' + blogId,
      type: 'PATCH',
      headers: {
        'Authorization': 'Bearer ' + token,
        'Content-Type': 'application/json'
      },
      data: JSON.stringify({
        title: blogTitle,
        content: blogContent
      })
    }).done(function (data) {
      $('#editBlogModal').modal('hide');
      alert('Blog updated successfully');
      location.reload();
    }).fail(function (xhr, status, error) {
      console.log(xhr);
      console.log(status);
      console.log(error);
      message = xhr.responseJSON.message;
      if (typeof message === 'object') {
        message = message.join('\n');
      } else {
        message = message;
      }
      alert(message);
    });
  });
</script>
<script>
  function viewBlog(blog) {
    $('#blogTitle').text(blog.title);
    $('#blogContent').text(blog.content);
    $('#blogCreatedAt').text(blog.createdAt);
    $('#viewBlogModal').modal('show');
  }

  $(document).ready(function () {
    token = sessionStorage.getItem('token');
    $.ajax({
      url: '/api/blog',
      type: 'GET',
      headers: {
        'Authorization': 'Bearer ' + token
      }
    }).done(function (data) {
      var table = $('#blog_table tbody');
      table.empty();
      blogs = data.blogs;
      blogs.forEach(function (blog) {
        var row = '<tr>';
        row += '<td>' + blog._id + '</td>';
        row += '<td>' + blog.title + '</td>';
        row += '<td>' + blog.content + '</td>';
        row += '<td>' + blog.createdAt + '</td>';
        row += '<td>';
        row += '<button class="btn btn-primary btn-sm" onclick=\'viewBlog(' + JSON.stringify(blog) + ')\'>View</button>';
        row += '<button class="btn btn-warning btn-sm" onclick=\'editBlog(' + JSON.stringify(blog) + ')\'>Edit</button>';
        row += '<button class="btn btn-danger btn-sm" onclick=\'deleteBlog("' + blog._id + '")\'>Delete</button>';
        row += '</td>';
        row += '</tr>';
        table.append(row);
      });
    }).fail(function (xhr, status, error) {
      console.log(xhr);
      console.log(status);
      console.log(error);
    });
  });

  function deleteBlog(blogId) {
    var token = sessionStorage.getItem('token');
    // ask for confirmation
    if (!confirm('Are you sure you want to delete this blog?')) {
      return;
    }
    $.ajax({
      url: '/api/blog/' + blogId,
      type: 'DELETE',
      headers: {
        'Authorization': 'Bearer ' + token
      }
    }).done(function (data) {
      alert('Blog deleted successfully');
      location.reload();
    }).fail(function (xhr, status, error) {
      console.log(xhr);
      console.log(status);
      console.log(error);
      message = xhr.responseJSON.message;
      if (typeof message === 'object') {
        message = message.join('\n');
      } else {
        message = message;
      }
      alert(message);
    });
  }
</script>
{{/inline}}
{{/main}}