{{#> main}}
{{#*inline "content"}}
<div class="container-fluid">
    <div class="p-5 text-center bg-body-tertiary rounded-3">
        <h1 class="pt-5 mt-5 text-body-emphasis">Jumbotron with icon</h1>
        <p class="mx-auto col-lg-8 fs-5 text-muted">
            This is a custom jumbotron featuring an SVG image at the top, some longer text that wraps early thanks to a
            responsive <code>.col-*</code> class, and a customized call to action.
        </p>
        <div class="gap-2 mb-5 d-inline-flex">
            <a href="/users" class="px-4 d-inline-flex align-items-center btn btn-primary btn-lg rounded-pill" type="button">
                Users
            </a>
            <a href="/blogs" class="px-4 btn btn-outline-secondary btn-lg rounded-pill" type="button">
                Blog
            </a>
        </div>
    </div>
</div>

{{/inline}}
{{/main}}